<form [formGroup]="saveInputsForm" (ngSubmit)="send(saveInputsForm.value)">
  
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Nom del pressupost</mat-label>
        <input [ngModel]="budgetName" type="text" formControlName="budgetName" matInput placeholder="Expensive Website" required>
      </mat-form-field>
      <br/>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Client</mat-label>
        <input [ngModel]="customerName" type="text" formControlName="customerName"  matInput placeholder="John Doe" required>
      </mat-form-field>
      <br/>
      <button mat-raised-button color="warn" [disabled]="saveInputsForm.invalid" class="btn btn-primary" type="submit">Save Budget</button>
</form>
