
.container {
    color:white;
    background: #3f51b5;
    height:100%;
    padding: 2rem;
    width: 45vw;
}

table {
    width: 100%;
}

.filter-button-container > button {
    margin-right: 4rem;
    margin-bottom: 2rem;
}