

<form [formGroup]="budgetFinder" (keyup)="filter()">
  
    <mat-form-field color="white" class="example-full-width" appearance="fill">
      <mat-label id="search-label"> Find by Budget Name</mat-label>
      <input  color="red" [ngModel]="queryName" type="text" formControlName="queryName" matInput placeholder="My Budget" required>
    </mat-form-field>
    <br/>

    <button mat-raised-button color="warn" [disabled]="budgetFinder.invalid" class="btn btn-primary" (click)="clear()">Clear Search</button>
</form>

<div *ngIf="this.searchByName; else startScreen">
  Found {{budgets.length}} results.
</div>

<ng-template #startScreen>
    <div id="search-results">
    
    </div>
  </ng-template>


