.example-section {
    margin: 12px 0;
    padding: 2rem;
  }

  .main {
    padding:2rem;
  }

  .main > a {
    margin-left: 2rem;
  }

  .check-boxes {
    padding: 2rem;
  }

  .page {
    display:flex;
    flex-direction:row;
    justify-content: space-between
  }

  @media (max-width: 767.98px) { 
  
    .page {
      display:flex;
      flex-direction:column;
    }

    label {
      display:none;
    }

    
   }
